<div id="album_info">
	<h3>Now Playing:</h3>
	<%= image_tag '/assets/record.png', :id=>"song_artwork", :class=>"album_art" %>
	<p id="track">Finding track...</p>
	<p id="artist">Finding artist...</p>
	<%= javascript_tag do %>
		song_links = new Array();
		song_ids = new Array();
	<% end %>
	<% @songs.each do |song| %>
	 	<% if song.music_file.url != '/music_files/original/missing.png' %>
	 	<div class="dev">
			<p><%= song.music_file_file_name %> - <%= link_to "Drop", stream_song_path(@stream,song), method: :delete, :id => song.id %></p>
			<audio id='song_<%=song.id %>' src=<%= song.music_file.url %> controls>
			<p>If you are reading this, it is because your browser does not support the audio element.</p>
			</audio>
			<%#=render 'streams/song_player' %>
			<%= javascript_tag do %>
				song_links.push("<%=song.music_file.url%>");
				song_ids.push("<%=song.id%>");
				$('#song_<%=song.id%>').bind('ended', function(){
			    $('#song_<%=song.id+1%>').get(0).play();
			    song_ids.splice(0, 1);
			    $.ajax ({
			    	type: "DELETE",
			    	url: "<%=stream_song_path(@stream, song)%>"
			  	});
				});
			<% end %>
			</div>
		<% end %>
	<% end %>
	<%= javascript_tag do %>
		console.log(song_ids[0]);
		console.log(song_links[0]);
	<% end %>
</div>
<div id="upload_box">
	<%= render 'songs/form' %>
</div>


<script type="text/javascript">
  $(document).ready(function(){
  	beginner = '#song_';
  	grab_id = beginner + song_ids[0];
		$(grab_id).bind('canplay', function(){
			$(this).get(0).currentTime="<%=@stream.current_song_time%>";
		});
  	$(grab_id).get(0).play();
  	console.log('go!');
  	console.log(song_ids[0]);

  	$.post("/songs/pull", { id: song_ids[0] })
  	.done(function(data) {
  		console.log(data);
  		$('#track').text(data['title']);
  		$('#artist').text(data['artists']);
  		$('#song_artwork').attr("src",data['release_image']);
  	});

  	var int=self.setInterval(function(){
  		console.log(song_ids);
  		update_current_time(beginner+song_ids[0], "<%=@stream.id%>")}, 1000);
  });
	function update_song_list(){
		song_links.length = 0;
		"<% @songs.each do |song| %> "
			"<% if song.music_file.url != '/music_files/original/missing.png' %>"
				song_links.push("<%=song.music_file.url%>");
			"<% end %>"
		"<%end%>"
		return song_links;
	}

	function update_current_time(grab_id, id_s){
		time_r = $(grab_id).get(0).currentTime;
		console.log($(grab_id).get(0).currentTime);
		$.post("/streams/time", { id: id_s, current_song_time: time_r })
		.done(function(data) {
			console.log(data);
		});
		
	}
	
	function play_next_song(id){
		
	}
</script>